body {padding: 10px;}

* {box-sizing: border-box;
font-family: Garamond;}

h1 {font-size: 175%;
  text-align: center}

.row {width: 100%;
text-align: justify;}

.content {padding: 10px;}

#box{padding: 0px 10px 0px 10px;
border: 2px solid black;
background-color: gray;
position:relative;}

#chicken, #beef, #sushi {
  font-size: 125%;
  border: 2px solid black;
  padding: 2px;
  width: 150px; 
  text-align: center;
  font-weight: bold;
  margin: 0px;
  position: absolute;
  top: -2px;
  right: -2px;

}

#chicken {background-color: lightpink; }
#beef {background-color: brown;
color: white;}
#sushi {background-color: lightyellow;}

@media (min-width: 992px) {
  .content {width: 33.33%;
    float: left;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .content {width: 50%;
    float: left;}

  .second {width: 100%; 
  }
  
}